[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry]
name = "aaanalysis"
version = "0.1.3"
description = "Python framework for interpretable protein prediction"
authors = ["Stephan Breimann <stephanbreimann@gmail.de>"]
license = "MIT"
readme = "README.rst"
include = ["data/*.xlsx", "data/benchmarks/*.tsv", "data/benchmarks/*.xlsx"]

# Add classifiers to provide more details about the package (used by PyPI)
classifiers = [
    "Operating System :: OS Independent",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
    "Natural Language :: English",
    "Intended Audience :: Science/Research",
    "Intended Audience :: Developers",
    "Topic :: Scientific/Engineering",
    "Topic :: Scientific/Engineering :: Artificial Intelligence",
    "Topic :: Scientific/Engineering :: Bio-Informatics",
    "License :: OSI Approved :: MIT License",
    "Development Status :: 4 - Beta",
    # 3 - Alpha (Early development stage, not feature-complete, may be unstable, intended for early adopters and testers)
    # 4 - Beta (feature complete, may need minor improvements
    # 5 - Prodcution/Stable (softaware is stable & deployed)
    # 6 - Mature (Stable & in production for long time)
    # 7 - Inactive (project no longer maintained)
]

# Core dependencies
# Install via pip install aaanalysis
[tool.poetry.dependencies]
python = "^3.9"
cycler = "^0.11.0"
et-xmlfile = "^1.1.0"
fonttools = "^4.37.1"
Jinja2 = "^3.1.2"
joblib = "^1.2.0"
kiwisolver = "^1.4.4"
matplotlib = "^3.5.3"
numpy = "^1.24.4"
openpyxl = "^3.0.10"
packaging = "^21.3"
pandas = "^2.0.0"
patsy = "^0.5.2"
Pillow = "^10.0.1"
pip = "^23.2.01"
pyparsing = "^3.0.9"
python-dateutil = "^2.8.2"
pytz = "^2022.2.1"
scikit-learn = "^1.4"
scipy = "^1.10.0"
seaborn = "^0.11.2"
six = "^1.16.0"
statsmodels = "^0.13.2"
threadpoolctl = "^3.1.0"

# Additional depdencies (professional)
# Install via pip install aaanalysis[pro]
[tool.poetry.extras]
pro = [
    "shap>=0.44.0",
    "ipython>=8.16.1",
    "hypothesis>=6.86.2",
    "pytest>=7.4.2",
    "UpSetPlot>=0.8.0"
]

# Project URLs
[tool.poetry.urls]
"Repository" = "https://github.com/breimanntools/aaanalysis"
"Documentation" = "https://aaanalysis.readthedocs.io"

# If you use a tool for linting or formatting, you can add its configurations here.
# For example, if you use `black` for formatting:
[tool.black]
line-length = 88
exclude = '''
/(
    \.git
  | \.venv
  | \.eggs
  | \.mypy_cache
  | \.pytest_cache
  | \__pycache__
  | build
  | dist
)/
'''
