/* ------ General Styles ------ */

/* Style for the version text in the sidebar */
.wy-side-nav-search>div.version {
    color: white;
}

/* Style for highlighted text */
.highlight {
    background: #f7f7f7;  /* Sets the background color */
}

/* Style for inline code */
.rst-content code {
    background-color: #f5f5f5;
    font-family: monospace;
    padding: 2px 2px;
}

/* General link styling */
a {
    color: #008bfb;
}

/* Link styling on hover */
a:hover {
    color: #008bfb;
}

/* Link styling for visited links */
a:visited {
    color: #008bfb;
}

/* ------ Layout Styles ------ */


/* Override the content area */
.wy-nav-content {
    /*max-width: 65% destroys default behavior*/
    /*width: 100%; */
    max-width: 65%;
    width: auto;
    padding-left: 45px;
    padding-right: 45px;
}

/* Media query for mobile devices */
@media (max-width: 767px) {
    .wy-nav-content {
        padding-left: 5px; /* Adjust for mobile */
        padding-right: 5px; /* Adjust for mobile */
    }
}

/* ------ Table Styles ------ */

/* Table Styling */
.wy-table-responsive table {
    table-layout: auto;  /* This allows table to auto-size based on content */
    width: 100%;         /* Full width */
}

/* Makes tables within .rst-content horizontally scrollable */
.rst-content table {
    display: block;
    overflow-x: auto;
    * white-space: nowrap;
}

/* ------ Logo Styles ------ */

/* Logo styling in the sidebar */
.wy-side-nav-search .wy-dropdown>a img.logo, .wy-side-nav-search>a img.logo {
    max-width: 80%;
    max-height: 60%;
}

/* ------ Top Bar Styles ------ */

/* Style for the top navigation bar */
.wy-nav-top {
    background: #343131;
}

/* ------ Search Box Styles ------ */

/* Style for the search input box in the sidebar */
.wy-side-nav-search input[type=text] {
    border-color: #666666;
}

/* ------ Version Menu Styles ------ */

/* Style for the current version in the version menu */
.rst-versions .rst-current-version {
    color: #d9d9d9;
}

/* ------ Vertical Menu Styles ------ */

/* Style for vertical menu items */
.wy-menu-vertical a {
    color: #d9d9d9;
}
