# Requires Python >= 3.9

# Installed via pyproject.toml (must both matching when updating!)

# Additional dependencies for developer version (pip install aaanalysis[dev])
black==22.12.0
docutils==0.18.0
ipykernel==6.25.2
nbconvert>=7.8.0
nbformat>=5.9.2
nbsphinx==0.9.3
numpydoc==1.5.0
pandoc==2.3
poetry==1.6.1
pytest-mpl==0.16.1
sphinx==5.3.0       #<7.0   # Newest version not compatible with myst_nb
sphinx-autodoc-typehints==1.15.0
sphinx_copybutton==0.5.2
sphinx_design==0.5.0
sphinx_rtd_theme==1.3.0
sphinxext-opengraph==0.8.2
urllib3==2.0.4
UpSetPlot>=0.8.0

# Install juypter locally (not included for RTD due to dependency conflicts)
#jupyter>=1.0.0
#jsonschema>=4.17.0